<!-- change_password.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Смена пароля</h2>
<form method="post">
    {% csrf_token %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    <fieldset>
        {{ form.old_password.label_tag }} {{ form.old_password }}<br><br>
        {{ form.new_password1.label_tag }} {{ form.new_password1 }}<br><br>
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}<br><br>
    </fieldset>
    <button type="submit" class="btn btn-success">Изменить пароль</button>
</form>
{% endblock %}
